PORT=4000

CRYPT_SALT=10
JWT_SECRET_AUTH_KEY=secret123123
JWT_SECRET_REFRESH_KEY=secret123123
TOKEN_AUTH_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

# Set level of logging:
# error - errors
# warn - errors, warnings
# log - errors, warnings, logs
# debug - errors, warnings, logs, debug
LOGGER_LEVEL=log

# Set max log file size (in bytes):
MAX_LOG_FILE_SIZE=10000

POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=postgres # to start application with docker
# POSTGRES_HOST=localhost # to start application without docker